  <div class="navbar">
    <div class="navbar-logo">
      <%= image_tag "bottle.png", class: "bottle-image"%>
    </div>
    <div class="navbar-links">
      <a><%=link_to 'Home', root_path%></a>
      <a><%=link_to 'About', about_path%></a>
      <% if user_signed_in? || picker_signed_in? %>
        <a><%=link_to 'Dashboard', dashboard_path%></a>
        <a><%=link_to 'Log Out', destroy_user_session_path%></a>
      <% else %>
        <a><%=link_to 'Collector', new_picker_session_path%></a>
        <a><%=link_to 'Sign In', new_user_session_path%></a>
      <% end %>
    </div>
  </div>
