  <div class="page-container">
    <div class="order-title">
      <h1>Collectors near you</h1>
    </div>
    <div class="map-container" style="width: 50%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <% if @current_orders.none? %>
      <h1>Lets get started!</h1>
        <div class="sign-up-button text-center">
          <%=link_to new_appointment_path do %>
            <div type="button" class="btn btn-outline-light btn-lg">Donate Bottles</div>
          <% end %>
        </div>
    <% else %>
      <div class="order-title">
        <h1>Current Order</h1>
      </div>
        <% if @current_orders.any? %>
          <div class="row row-cols-1 row-cols-md-1 align-center">
            <% @current_orders.each do |order| %>
              <div class="col-md-4 recent-orders">
                <div class="card-body">
                  <h4><i class="fa-solid fa-calendar"></i> <%= order.date.to_s(:long_ordinal)%></h4>
                  <h4><i class="fa-solid fa-business-time"></i> <%=order.time.strftime("%H:%M %p")  %></h4>
                  <h4><i class="fa-solid fa-signature"></i> <%= order.picker.name  %></h4>
                  <h4><i class="fa-solid fa-wine-bottle"></i> <%= order.bottle %></h4>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <h4 class="text-center">You have no current orders</h4>
        <% end %>
      <% end %>
    <div class="order-title">
      <h1>Past Orders</h1>
    </div>
      <% if @past_orders.any? %>
        <div class="row row-cols-1 row-cols-md-3">
          <% @past_orders.each do |order| %>
            <div class="col-md-4 recent-orders">
              <div class="card-body">
                <h4><i class="fa-solid fa-calendar"></i> <%= order.date.to_s(:long_ordinal)%></h4>
                <h4><i class="fa-solid fa-signature"></i> <%= order.picker.name  %></h4>
                <h4><i class="fa-solid fa-wine-bottle"></i> <%= order.bottle %></h4>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <h4 class="text-center">You have no past orders</h4>
      <% end %>
    <div class="text-center">
      <h1>Total Bottles Donated</h1>
      <% if @bottles > 1 %>
        <h4 class="bottles-container"><%= @bottles %> bottles</h4>
      <% else %>
        <h4 class="text-center">You have no bottles donated just yet</h4>
      <% end %>
    </div>
    <div class="text-center">
      <h1>Total Amount Donated</h1>
      <% if @amount > 0.01 %>
      <h4 class="bottles-container">$<%= @amount %>!</h4>
      <% else %>
        <h4 class="text-center">No amount yet</h4>
      <% end %>
    </div>
    <% if @current_orders.any? %>
      <h1>Donate more bottles!</h1>
      <div class="sign-up-button text-center">
        <%=link_to new_appointment_path do %>
          <div type="button" class="btn btn-outline-light btn-lg">Donate Bottles</div>
        <% end %>
      </div>
    <% end %>
  </div>
