<div class="container">
  <h1>Recent Orders</h1>
  <% @past_orders.each do |order| %>
    <p><%= order.date %></p>
    <p><%= order.picker.name  %></p>
    <p><%= order.bottle %></p>
  <% end %>
</div>
<div class="container">
  <h1>Total Bottles Donated</h1>
  <p><%= @bottles %></p>
</div>
<div class="container">
  <h1>Total Amount Donated</h1>
  <p>$<%= @amount %>!</p>
</div>
