<div class="page-container">
  <h1>PfandMe</h1>
  <h3>Donate your Pfand & get those pesky bottles out of your office or flat!</h3>
  <div class="sign-up-button text-center">
    <%=link_to new_user_registration_path do %>
      <div type="button" class="btn btn-outline-light btn-lg">Sign Up</div>
    <% end %>
  </div>
  <div class="flex-container">
    <div class="idea-container">
      <h2>The Idea</h2>
      <h4> The App idea came to me from the need to clean my apartment, get rid of my bottles fast, and feel good about doing so. This app lets you donate your Pfand to someone who needs it, while someone picks it up for you. An all around good prospect for every user and the environment.
    </div>
    <div class="image-container">
      <%= image_tag "Bicycle.png", class: "bicycle-image"%>
    </div>
  </div>
  <div class="step-title">
    <h2>How it works</h2>
  </div>
  <div class="flex-container">
    <div class="steps">
      <div class="steps-flex-container">
          <h4>Sign Up and fill out the form.</h4>
          <%= image_tag "step-one.png", class: "step-one-image"%>
      </div>
    </div>
    <div class="steps">
      <div class="steps-flex-container">
        <h4>Wait for your bottles to be picked up</h4>
        <%= image_tag "step-two.png", class: "step-two-image"%>
      </div>
    </div>
    <div class="steps">
      <div class="steps-flex-container">
        <h4>It's that easy!</h4>
        <%= image_tag "step-three.png", class: "step-three-image"%>
      </div>
    </div>
  </div>
  <div class="flex-container">
    <div class="idea-container">
      <h2>Join Us</h2>
      <h4>Become a collector and start picking up bottles today!</h4>
      <div class="sign-up-button text-center">
        <%= link_to picker_session_path do %>
      <div type="button" class="btn btn-outline-light btn-lg">Join Us</div>
      <% end %>
      </div>
    </div>
    <div class="image-container">
      <%= image_tag "Join-Us.png", class: "join-us-image"%>
    </div>
  </div>
  <div class="flex-container">
    <div class="idea-container">
      <h2>Locations</h2>
      <h4>We are currently only collecting in Berlin. More cities to come!</h4>
    </div>
    <div class="image-container">
      <%= image_tag "city.png", class: "city-image"%>
    </div>
  </div>
  <div class="flex-container">
      <div class="image-container">
        <%= image_tag "disclaimer.png", class: "disclaimer-image"%>
      </div>
    <div class="idea-container">
      <h2>Disclaimer</h2>
      <h4>This is a project to showcase my programming skills. Please read the 'about' for more detailed information. </h4>
    </div>
  </div>
</div>
