<div class="page-container">
  <div class="order-title">
    <h1>Order Confirmation</h1>
  </div>
  <div class="order-confirmation">
    <h4><i class="fa-solid fa-signature"></i> <%=@appointment.user.name %></h4>
    <h4><i class="fa-solid fa-location-arrow"></i> <%= @appointment.address %></h4>
    <h4><i class="fa-solid fa-calendar"></i> <%=@appointment.date.to_s(:long_ordinal) %></h4>
    <h4><i class="fa-solid fa-business-time"></i> <%=@appointment.time.strftime("%H:%M %p")  %></h4>
    <h4><i class="fa-solid fa-wine-bottle"></i> <%=@appointment.bottle %> bottles</h4>
  </div>
  <div class="order-title">
    <h1>Your collector</h1>
  </div>
  <div class="order-confirmation">
    <h4><i class="fa-solid fa-bicycle"></i> <%= @appointment.picker.name %></h4>
    <h4><i class="fa-solid fa-phone"></i> <%= @appointment.picker.phone %></h4>
  </div>
  <div class="container">
    <div class="map-container" style="width: 80%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="sign-up-button text-center">
    <%=link_to dashboard_path do %>
      <div type="button" class="btn btn-outline-light btn-lg">Go to Dashbaord</div>
    <% end %>
  </div>
</div>
